.fast-search {
  background-color: var(--black-1);
  border: 1px solid var(--black-3);
  height: fit-content;
  width: 250px;
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 8px;
  padding: 12px;
  display: grid;
  gap: 16px;
}