.pseudo-input {
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 8px;

  & span {
    cursor: pointer;
    padding: 6px;
  }

  & input {
    height: 100%;
    outline: none;
    border-radius: 6px;
  }
}

header, span {
  color: white;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #424242;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  padding: 20px;
  border-radius: 4px;
  display: grid;
  gap: 16px;
  color: white;
}